@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.max-width {
  max-width: 1300px;
  padding: 10px 60px;
  margin: auto;
}

/* navabr styling */
.navbar {
	position: fixed;
	width: 100%;
	padding: 30px, 0;
	font-family: "Ubuntu", sans-serif;
	transition: all 0.9s ease;
	background: #000;
}

.navbar.sticky {
	padding: 5px 0;
	background: crimson;
	position: fixed;
}
.navbar .max-width {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar .logo a {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
}
.navbar .logo a span {
  transition: all 0.9s ease;
  color: crimson;
}

.navbar.sticky .logo a span {
  color: #000;
  transition: all 0.9s ease;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: crimson;
}

.navbar.sticky .menu li a:hover {
  color: #000;
}
.menu-btn{
	font-size: 23px;
    display: none;
    color: #fff;
}

/* Home section */

.home {	
	display: flex;
	background:linear-gradient( rgba(0, 0, 0, 0.8) 100%, rgba(0, 0, 0, 0.1)100%),url("images/banner.png");
	height: 100vh;
	color: #fff;
	min-height: 500px;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
  margin: auto 0 auto 30px;
}

.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px, 0;
}

.home .home-content .text-3 span {
  color: crimson;
  font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}


/* about section styling */
section{
    padding: 50px 0;
}
.about{
   font-family: 'Ubuntu', sans-serif;
} 
.about .title{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    /* max-width: 600px; */
}
.about .title::before{
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 5px;
    top: 35%;
    left:33%;
    background: #000;
}
.about .title::after{
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 5px;
    top: 35%;
    right:33%;
    background: #000;
}
.about .about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.001),  0 1.7px 1.3px rgba(0, 0, 0, 0.08),  0 1.5px 10px rgba(0, 0, 0, 0.06),  0 1.3px 1.9px rgba(0, 0, 0, 0.042),
  0 0.8px 3.4px rgba(0, 0, 0, 0.086),  0 10px 8px rgba(0, 0, 0, 0);
  padding: 20px;
}
.about .about-content .left{
    width: 45%;

}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 2px;
}

.about .about-content .right{
    padding: 10px;
    width: 55%;
  
}
.about .about-content .text{
    font-size: 25px;
    font-weight: 600px;
    margin-bottom: 10px;
}

.about .about-content .right .text span{
    color: crimson;
    
}

.about .about-content .right p{
    text-align: justify;
    line-height: 1.6;
}

.about .about-content .right a{
    margin-left: 150px;
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover{
    color: crimson;
    background: none;
}

/* Service styling start */
section{
    padding: 50px 0;
}
.services{
    background-color: rgb(44, 41, 41);
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
} 
.services .title{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    /* max-width: 600px; */
}
.services .title::before{
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 5px;
    top: 35%;
    left:30%;
    background: #fff;
}
.services .title::after{
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 5px;
    top: 35%;
    right:30%;
    background: #fff;
}
.services .service-content{
    display: flex !important;
    flex-direction: row !important;
}
.services .service-content > .card{
    width: calc(33% - 20px);
    background: #222;
    margin: 4px;
    text-align: center;
    border-radius: 6px;
    padding: 15px 0 10px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .service-content .card:hover{
    background: crimson;
}
.services .service-content .card:hover i {
    color: #fff;
}
.services .service-content .card:hover .icon-border {
    border:solid #fff 3px;
    background: crimson;
}

.services .service-content .card .box{
    transition: all 0.3s ease;
}
.services .service-content .card:hover{
    transform: scale(1.02);
}
.services .service-content .card img{
    height: 250px;
    width: 370px;
    left: 0;
    right: 0;
    object-fit: cover;
    border-radius: 1px;
    padding-bottom: 20px;
}
.services .service-content .card .icon-border{
    padding-top: 200px;
    border:solid crimson 3px;
    border-radius: 50%;
    padding: 17px;
    text-align: center;
    margin: auto;
    width: 70px;
    height: 70px;
    background: rgb(41, 39, 39);
    padding-bottom: 20px;
}
.services .service-content .card  .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.services .service-content .card  p{
    padding: 2px 20px 10px 20px;
    text-align: justify;
    /* text-justify: inter-word; */
}

.services .service-content .card i{
    font-size: 30px;
    color: crimson;
    transition: color 0.3s ease;
}